@using BlazorJWTAuth2.Auth;
@using Blazored.LocalStorage;
@using System.Security.Claims;
@inherits LayoutComponentBase

@inject ILocalStorageService _localStorage
@inject CustomAuthStateProvider _authState

<PageTitle>BlazorJWTAuth2</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <AuthorizeView>
                <Authorized>
                    <a href="/logout">로그아웃</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">로그인</a>
                </NotAuthorized>
            </AuthorizeView>

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
